body {
  background-color: aquamarine;
}

.container {
  width: 1000px;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.stock {
  background-color: slategray;
  color: yellow;
  text-align: center;
}
.btn-primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-body {
  text-align: center;
}

.col {
  height: 500px;
}
